
body{
  background-image: center top repeat-x;
 background: #854c6e;
 
 background: center top repeat-x, -moz-linear-gradient(top, #854c6e 0%, #d27f73 100%);

 background:  center top repeat-x, -webkit-linear-gradient(top, #854c6e 0%,#d27f73 100%);

 background: url("https://shishka.neocities.org/img/background-clouds.png") center top repeat-x, linear-gradient(to bottom, #854c6e 0%,#d27f73 100%);

 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#854c6e', endColorstr='#d27f73',GradientType=0 );
 
 background-size: 530px auto, cover;
 background-attachment:fixed;
 color:#fff5e0;
 margin:0;
 display: grid;
  place-items: center;
 line-height:1.7;
 height: 100vh;
 width: 100%;
}
.container {  
  background-color: #fefffd00;
  height: 600px;
 position: relative;
  overflow: visible;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}


p{
  font-family: 'neon';
  color: #e1f8ff;
  display: flex;
  justify-content: center;
  position: inherit;
  text-shadow: 2px 2px #8e2d62;
  font-size: 16px;
 
}

  @font-face {
  font-family: 'Router-159 Heavy Italic';
  src: url('./fonts/route-159.heavy-italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'neon';
  src: url('./fonts/Neon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'itc';
  src: url('./fonts/route-159.heavy-italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'samuraichrome';
  src: url('./fonts/samuraiterrapinlaserital.ttf') format('truetype');

}
/*-------------------------PROFILE ELEMENTS------------------------- */


.social-border {
  background-image: linear-gradient(135deg,#c82955,#783277);
  height: 160px;
  width: 490px;
  top: 50px;
  margin-left: 300px;
  position: absolute;
  overflow: hidden;
  clip-path: polygon(93% 0%, 100% 17%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  transition: transform 0.3s ease-in-out;
}
.social-border:hover{
  transform: scale(1.02);
}
.social {
  background-color:#56373a;
  height: 152px;
  width: 482px;
  position: relative; 
  top: 4px; 
  left: 4px; 
  overflow: hidden;
  clip-path: polygon(93% 0%, 100% 17%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
 
}

.sidebar-border {  
  background-image: linear-gradient(135deg,#c82955,#783277);
  height: 500px;
  left: 40px;
  position: absolute;
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}
.sidebar-border:hover{
  transform: scale(1.02);
}

.sidebar {  
  background-color: #56373a;
  height: 492px;
  width: 242px;
  top: 4px; 
  left: 4px; 
  position: relative;
  overflow: hidden;
}

.app-border {
  /* background-color: #ff008c; */
  background-image: linear-gradient(135deg,#c82955,#783277);
  height: 330px;
  width: 490px;
  margin-left: 300px;
  margin-top: 170px;
  position: absolute;
  overflow: visible;  
  transition: transform 0.3s ease-in-out;
}
.app-border:hover{
  transform: scale(1.02);
}

.apps {
  background-color:#56373a; 
  height: 322px;
  width: 482px;
  position: relative; 
  top: 4px; 
  left: 4px; 
  overflow: hidden;
}




.welcometitle{
  font-family: 'Share Tech Mono';
  color: #ffffff;
  font-size: 50px;
  position: relative;
  top:-280px;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out;
  animation: textShadow 1.6s infinite;
}
.welcometitle:hover{
  transform: scale(1.1);
  z-index: 9;
}

.flower{
  position: absolute;
  top: -50px;
  image-rendering: crisp-edges;
  filter: hue-rotate(333deg);
  left: -15px;
  z-index: 8;
  width: auto;
  height: 100px;
  animation: sway 2s linear infinite;
}

.flower2{
  position: absolute;
  right: -15px;
  top:-50px;
  image-rendering: crisp-edges;
  filter: hue-rotate(333deg);
  z-index: 8;
  width: auto;
  height: 100px;
  animation: sway 2s linear infinite;
}

.sidetitle{
 font-family: "Router-159 Heavy Italic";
 display: flex;
 justify-content: center;
  color: #e1f8ff;
  text-shadow: 3px 3px #8e2d62;
  font-size: 33px;
  animation: textShadow 1.6s infinite;
}

.appstitle{
  font-family: 'neon';
  color: #e1f8ff;
  display: flex;
  justify-content: center;
  position: inherit;
  text-shadow: 3px 3px #8e2d62;
  font-size: 33px;
  animation: textShadow 1.6s infinite;
}

.app-body {
  position: sticky;
  height: 370px;
  margin-top: -30px;
  padding: 10px;
}


h2 { 
  font-family: 'Share Tech Mono';
   text-shadow: 3px 3px #8e2d62;
    color: white;
   font-size: 16px;
  
   top: 20px;
   margin: 0 12px;
  }

  .zoom{
    transition: transform 0.3s ease-in-out;
  }
  .zoom:hover{
    transform: scale(1.1);
  }

  a {
    text-decoration: none;
  }


  .icon {
    position: relative;
    top: 42px;
    left: 23%;
    margin-right: 20px;
    color: #fff;
    font-size: 4em;
    text-shadow: 3px 3px #8e2d62;
  }
  
  .underline {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  .underline::before {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(135deg,#c82955,#783277);
    transition: width 0.3s ease-out;
  }

  .underline:hover::before {
    width: 100%;
  }



.foldericon::before {
  color: white;
  text-shadow:  3px 3px #8e2d62;
  font-size: 3em;
  font-family: "Font Awesome 6 Free";
  content: "\f07b"; /* Unicode value for the folder icon */
  margin-right: 10px; /* Add some space between the icon and the text */
}

.shake:hover {
  animation-name: shake;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.profile-image {
  top: 30%;
  left: 40%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes sway {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-5px) translateY(2px);
  }
  50% {
    transform: translateX(-10px) translateY(0);
  }
  75% {
    transform: translateX(-5px) translateY(-2px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes flicker {
0% {
  opacity: 0.27861;
}
5% {
  opacity: 0.34769;
}
10% {
  opacity: 0.23604;
}
15% {
  opacity: 0.90626;
}
20% {
  opacity: 0.18128;
}
25% {
  opacity: 0.83891;
}
30% {
  opacity: 0.65583;
}
35% {
  opacity: 0.67807;
}
40% {
  opacity: 0.26559;
}
45% {
  opacity: 0.84693;
}
50% {
  opacity: 0.96019;
}
55% {
  opacity: 0.08594;
}
60% {
  opacity: 0.20313;
}
65% {
  opacity: 0.71988;
}
70% {
  opacity: 0.53455;
}
75% {
  opacity: 0.37288;
}
80% {
  opacity: 0.71428;
}
85% {
  opacity: 0.70419;
}
90% {
  opacity: 0.7003;
}
95% {
  opacity: 0.36108;
}
100% {
  opacity: 0.24387;
}
}

@keyframes textShadow {
0% {
  text-shadow: 0.4389924193300864px 0 1px #783277, -0.4389924193300864px 0 1px #c82955, 0 0 3px;
}
5% {
  text-shadow: 2.7928974010788217px 0 1px #783277, -2.7928974010788217px 0 1px #c82955, 0 0 3px;
}
10% {
  text-shadow: 0.02956275843481219px 0 1px #783277, -0.02956275843481219px 0 1px #c82955, 0 0 3px;
}
15% {
  text-shadow: 0.40218538552878136px 0 1px #783277, -0.40218538552878136px 0 1px #c82955, 0 0 3px;
}
20% {
  text-shadow: 3.4794037899852017px 0 1px #783277, -3.4794037899852017px 0 1px #c82955, 0 0 3px;
}
25% {
  text-shadow: 1.6125630401149584px 0 1px #783277, -1.6125630401149584px 0 1px #c82955, 0 0 3px;
}
30% {
  text-shadow: 0.7015590085143956px 0 1px #783277, -0.7015590085143956px 0 1px #c82955, 0 0 3px;
}
35% {
  text-shadow: 3.896914047650351px 0 1px #783277, -3.896914047650351px 0 1px #c82955, 0 0 3px;
}
40% {
  text-shadow: 3.870905614848819px 0 1px #783277, -3.870905614848819px 0 1px #c82955, 0 0 3px;
}
45% {
  text-shadow: 2.231056963361899px 0 1px #783277, -2.231056963361899px 0 1px #c82955, 0 0 3px;
}
50% {
  text-shadow: 0.08084290417898504px 0 1px #783277, -0.08084290417898504px 0 1px #c82955, 0 0 3px;
}
55% {
  text-shadow: 2.3758461067427543px 0 1px #783277, -2.3758461067427543px 0 1px #c82955, 0 0 3px;
}
60% {
  text-shadow: 2.202193051050636px 0 1px #783277, -2.202193051050636px 0 1px #c82955, 0 0 3px;
}
65% {
  text-shadow: 2.8638780614874975px 0 1px #783277, -2.8638780614874975px 0 1px #c82955, 0 0 3px;
}
70% {
  text-shadow: 0.48874025155497314px 0 1px #783277, -0.48874025155497314px 0 1px #c82955, 0 0 3px;
}
75% {
  text-shadow: 1.8948491305757957px 0 1px #783277, -1.8948491305757957px 0 1px #c82955, 0 0 3px;
}
80% {
  text-shadow: 0.0833037308038857px 0 1px #783277, -0.0833037308038857px 0 1px #c82955, 0 0 3px;
}
85% {
  text-shadow: 0.09769827255241735px 0 1px #783277, -0.09769827255241735px 0 1px #c82955, 0 0 3px;
}
90% {
  text-shadow: 3.443339761481782px 0 1px #783277, -3.443339761481782px 0 1px #c82955, 0 0 3px;
}
95% {
  text-shadow: 2.1841838852799786px 0 1px #783277, -2.1841838852799786px 0 1px #c82955, 0 0 3px;
}
100% {
  text-shadow: 2.6208764473832513px 0 1px #783277, -2.6208764473832513px 0 1px #c82955, 0 0 3px;
}
}




.scanlines {
  position: relative;
  overflow: hidden;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  width: 100%;
  top:-100px;
  height: 2px;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  background: linear-gradient(to bottom, transparent 50%, rgba(205, 75, 181, 0.103) 51%);
  background-size: 100% 4px;
  animation: scanlines 1s steps(60) infinite;
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
