.u-section-1 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.7), rgba(51,51,51,0.7)), url("images/bg11.png");
  background-position: 4.78% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1035px;
}

.u-section-1 .u-list-1 {
  width: 433px;
  min-height: 970px;
  height: auto;
  margin: 10px auto 55px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 25%;
}

.u-section-1 .u-image-1 {
  background-image: url("images/1.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/2.png");
  background-position: 40.7% 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/4.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    min-height: 762px;
  }
}