.u-section-1 {
  background-image: url("images/wallpaperflare.com_wallpaper1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-text-1 {
  margin: 520px 541px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 433px;
    margin-left: 441px;
    margin-right: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 333px;
    margin-left: 331px;
    margin-right: 331px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 320px;
    margin-left: 241px;
    margin-right: 241px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 48.97% 45.22%;
    background-size: auto 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 261px;
    margin-left: 141px;
    margin-right: 141px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/phx5me1balo31.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 707px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  filter: brightness(0.55);
  height: 705px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: -653px 715px 0 261px;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 489px;
  animation-duration: 1000ms;
  margin: 4px auto 0 58px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 12px 589px 61px 135px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 597px;
    margin-top: 1px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -572px;
    margin-right: 615px;
    margin-left: 211px;
  }

  .u-section-2 .u-image-2 {
    width: 515px;
    height: 442px;
    margin-top: 0;
    margin-left: 35px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 8px 470px 34px 54px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-2 .u-image-1 {
    width: 435px;
    height: 572px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -506px;
    margin-right: 505px;
    margin-left: 106px;
  }

  .u-section-2 .u-image-2 {
    width: 407px;
    height: 349px;
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin: 6px 324px 56px -20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-image-1 {
    width: 343px;
    height: 451px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -410px;
    margin-right: 376px;
    margin-left: 51px;
  }

  .u-section-2 .u-image-2 {
    width: 306px;
    height: 263px;
    margin-top: 0;
    margin-left: -20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin: 11px 264px 54px -50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-2 .u-image-1 {
    width: 252px;
    height: 314px;
    animation-duration: 1000ms;
    margin-top: 3px;
    margin-right: -50px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -299px;
    margin-right: 176px;
    margin-left: 53px;
  }

  .u-section-2 .u-image-2 {
    width: 208px;
    height: 185px;
    margin-top: 4px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin: 3px 95px 48px -95px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/highIQ.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 611px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 22px auto 0;
}

.u-section-3 .u-image-1 {
  width: 1020px;
  height: 439px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  width: 417px;
  margin: 21px auto 22px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 720px;
    height: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-image-1 {
    height: 147px;
    animation-duration: 1000ms;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/candive.jpeg");
  background-position: 50% 34.43%;
}

.u-section-4 .u-sheet-1 {
  min-height: 758px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 15px auto 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 562px;
  margin: 11px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  width: 417px;
  margin: 11px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: -51px -44px 6px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 533px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-4 .u-text-1 {
    width: 260px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 336px;
    animation-duration: 1000ms;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    font-size: 1.25rem;
    margin-top: 11px;
  }
}