/* body {

  background: #c66161;
  color: #c8c8c8;
  overflow:hidden;
  margin: 0;
  padding: 0;
} */

body{
  background-image: center top repeat-x;
 background: #854c6e;
 
 background: center top repeat-x, -moz-linear-gradient(top, #854c6e 0%, #d27f73 100%);

 background:  center top repeat-x, -webkit-linear-gradient(top, #854c6e 0%,#d27f73 100%);

 background: url("https://shishka.neocities.org/img/background-clouds.png") center top repeat-x, linear-gradient(to bottom, #854c6e 0%,#d27f73 100%);

 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#854c6e', endColorstr='#d27f73',GradientType=0 );
 
 background-size: 530px auto, cover;
 background-attachment:fixed;
 color:#fff5e0;
 margin:0;
 padding: 0;
 overflow:hidden;
}


@font-face {
  font-family: 'Router-159 Heavy Italic';
  src: url('./fonts/route-159.heavy-italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'neon';
  src: url('./fonts/Neon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  body{
    overflow-x: scroll;
    overflow:visible;
  }
 
}




.container {
  background-color: rgba(255, 254, 254, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-container {
  background-color: rgba(255, 75, 75, 0);
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 500px;
  grid-template-rows: 100px 152px 350px;
  grid-template-areas: "header header";
  grid-gap: 10px;
  width: 100%;
  height: 100%;

}

.title-con {
  grid-area: header; 
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}

.title-con img {
  image-rendering: crisp-edges;
  filter: hue-rotate(333deg);
  z-index: 8;
  animation: sway 2s linear infinite;
}

.title-con h1 {
  
    font-family: 'Share Tech Mono';
    color: #ffffff;
    font-size: 50px;
    position: relative;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
    animation: textShadow 1.6s infinite;
}

.title.con h1:hover {
  z-index: 9;
}
.sidebar-con {
  background-image: linear-gradient(135deg,#c82955,#783277);
  grid-row: span 2;
  position: relative;
}

.sidebar {
  background-color: #56373a;
  margin: 4px;
  height: calc(100% - 8px);
}
.kurisu {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  bottom: 4px;
}
.social-con {
  background-image: linear-gradient(135deg,#c82955,#783277);
  grid-column: span 1;  
  clip-path: polygon(93% 0%, 100% 17%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
}

.social {
  background-color: #56373a;
  margin: 4px;
  height: calc(100% - 8px);
  clip-path: polygon(93% 0%, 100% 17%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
}

.project-con {
  background-image: linear-gradient(135deg,#c82955,#783277);
  grid-column: span 1;  
}

.project {
  background-color: #56373a;
  margin: 4px;
  height: calc(100% - 8px);
}



h1{
  font-family: 'neon';
  color: #e1f8ff;
  display: flex;
  justify-content: center;
  position: inherit;
  text-shadow: 3px 3px #8e2d62;
  margin: 0;
  padding: 10px;
  font-size: 33px;
  animation: textShadow 1.6s infinite;
}

.project h2 { 
  font-family: 'Share Tech Mono';
   text-shadow: 3px 3px #8e2d62;
    color: white;
   font-size: 16px;
   margin: 5px 22px;
  }

.icon {
  position: relative;
  top: 42px;
  left: 23%;
  margin-right: 20px;
  color: #fff;
  font-size: 4em;
  text-shadow: 3px 3px #8e2d62;
}
a {
  text-decoration: none;
}

p{
  margin: 0;
  padding: 10px;
  font-family: 'neon';
  color: #e1f8ff;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px #8e2d62;
  font-size: 20px;
}

.underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.underline::before {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-image: linear-gradient(135deg,#c82955,#783277);
  transition: width 0.3s ease-out;
}

.underline:hover::before {
  width: 100%;
}



ul {
  display: inline-block;
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: calc(100vw - 350px);
  height: 100vmax;
}
ul.scanlines {
  position: absolute;
}

.scanlines {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 3px;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  background: linear-gradient(to bottom, transparent 50%, rgba(205, 75, 181, 0.103) 51%);
  background-size: 100% 5px;
  animation: scanlines 1s steps(60) infinite;
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

/*# sourceMappingURL=style.css.map */

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px #783277, -0.4389924193300864px 0 1px #c82955, 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px #783277, -2.7928974010788217px 0 1px #c82955, 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px #783277, -0.02956275843481219px 0 1px #c82955, 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px #783277, -0.40218538552878136px 0 1px #c82955, 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px #783277, -3.4794037899852017px 0 1px #c82955, 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px #783277, -1.6125630401149584px 0 1px #c82955, 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px #783277, -0.7015590085143956px 0 1px #c82955, 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px #783277, -3.896914047650351px 0 1px #c82955, 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px #783277, -3.870905614848819px 0 1px #c82955, 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px #783277, -2.231056963361899px 0 1px #c82955, 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px #783277, -0.08084290417898504px 0 1px #c82955, 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px #783277, -2.3758461067427543px 0 1px #c82955, 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px #783277, -2.202193051050636px 0 1px #c82955, 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px #783277, -2.8638780614874975px 0 1px #c82955, 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px #783277, -0.48874025155497314px 0 1px #c82955, 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px #783277, -1.8948491305757957px 0 1px #c82955, 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px #783277, -0.0833037308038857px 0 1px #c82955, 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px #783277, -0.09769827255241735px 0 1px #c82955, 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px #783277, -3.443339761481782px 0 1px #c82955, 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px #783277, -2.1841838852799786px 0 1px #c82955, 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px #783277, -2.6208764473832513px 0 1px #c82955, 0 0 3px;
  }
  }
  
  .shake:hover {
    animation-name: shake;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .zoom{
    transition: transform 0.3s ease-in-out;
  }
  .zoom:hover {
    transform: scale(1.02);
  }
  
  .zoomIcon{
    transition: transform 0.3s ease-in-out;
  }
  .zoomIcon:hover{
    transform: scale(1.1);
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  @keyframes sway {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(-5px) translateY(2px);
    }
    50% {
      transform: translateX(-10px) translateY(0);
    }
    75% {
      transform: translateX(-5px) translateY(-2px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
