
    // width of 1 scanline (min.: 1px)
    $scan-width: 2px;

    $scan-crt: true;

    $scan-fps: 60;

    // scanline-color (rgba)
    $scan-color: rgba(#000, .3);

    // set z-index on 8, like in ♥ 8-bits ♥, or…
    // set z-index on 2147483648 or more to enable scanlines on Chrome fullscreen (doesn't work in Firefox or IE);
    $scan-z-index: 8; 
    $scan-moving-line: true;
    $scan-opacity: .75;

    @mixin scan-crt($scan-crt) {
        @if $scan-crt == true {
            animation: scanlines 1s steps($scan-fps) infinite;
        }
        @else { animation: none; }
    }

    @mixin scan-moving($scan-moving-line) {
        @if $scan-moving-line == true {
            animation: scanline 6s linear infinite;
        }
        @else { animation: none; }
    }



    .scanlines {
        position: relative;
        overflow: hidden; 
        &:before,
        &:after {
            display: block;
            pointer-events: none;
            content: '';
            position: absolute;
        }
        &:before {
         
            width: 100%;
            height: $scan-width * 1;
            z-index: $scan-z-index + 1;
            background: $scan-color;
            opacity: $scan-opacity;
         
            @include scan-moving($scan-moving-line);
        }

     
        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $scan-z-index;
            background: linear-gradient(
                to bottom,
                transparent 50%,
                $scan-color 51%
            );
            background-size: 100% $scan-width*2;
            @include scan-crt($scan-crt);
        }  
    }


    @keyframes scanline {
        0% {
            transform: translate3d(0,200000%,0);
        }
    }

    @keyframes scanlines {
        0% {
            background-position: 0 50%;
        }
    }
a {
    display: block;
    padding: 1em;
    margin: 0 auto;
    width: 80%;
    color: rgba(#fff, .5);
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(#000, .8);
    border: 1px solid rgba(#fff, .5);

    &#togglescanlines {
        position: absolute;
        width: 182px;
        top: 300px;
        right: 58px;
        border-width: 10px;
        background: rgba(#000, .4);
    }
    
    &:hover {
        color: #fff;
    }
}

ul {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding: 0;

    &.scanlines {
        position: absolute;
    }
    
    .jpg {
        width: 100vh;
        height: 100vh;
        border: none;
    }
    
}



body {
    position: relative;
    background: #1b1b1b;
    color: #c8c8c8;
    text-shadow: 2px 2px 2px #333;
    overflow-x: scroll;
}